# [1] Windows 系统垃圾desktop.iniThumbs.db$RECYCLE.BIN/# [2] Visual Studio 产生的巨量缓存.vs/out/build/bin/obj/*.user*.suo*.sln.doccache# [3] CMake 产生的中间文件CMakeCache.txtCMakeFiles/CMakeScripts/cmake_install.cmakeMakefile_deps/# [4] 编译产物*.exe*.pdb*.ilk*.lib*.dll*.obj*.log

/external/
